go 1.18

use (
	./convex_hull
	./kv_db
	./priority_queue
	./reverse_linked_list
	./week1/percolation
	./week1/union_find
	./week2/elementary_sorts
	./week2/stacks_queues
	./week3/merge_sort
	./week3/quick_select
	./week3/quick_sort
	./week3/three_way_quick_sort
)
